# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore SQLite database file

# Ignore specific directories
Home/__pycache__/
Home/migrations/__pycache__/
Quiz/__pycache__/

# Ignore macOS system files

