{% extends "base.html" %} {% load static %} {% block css %} {% static
'css/quizs.css' %} {% endblock css %} {% block body %}
<div class="container">
  <div class="white-box">
    <div class="quiz-results">
      <h1>Quiz Result</h1>
    </div>

    <div class="score">
      {% if attempted is not None and correct is not None %}
      <p class="score-text">Score: {{ correct }}/{{ attempted }}</p>
    </div>

    {% if quizzes_with_options %}
    <h3 class="score-text">Questions:</h3>
    <ul>
      {% for item in quizzes_with_options %}
      <div class="que-sel-cor">
        <li>
          {{ item.quiz.question }}<br />
          <strong>Selected Option: </strong> {{ item.selected_option }}<br />
          <strong>Correct Option: </strong> {{ item.quiz.answer }}
        </li>
        {% empty %}
        <p>No quizzes attempted.</p>
        {% endfor %}
      </div>
    </ul>
    {% else %}
    <p>No quizzes attempted.</p>
    {% endif %} {% else %}
    <p>An error occurred. Please try again.</p>
    {% endif %}
  </div>
  <div class="my-buttons">
    <a href="{% url 'restart_quiz' %}"
      ><img class="restart" src="/static/images/restart.png"
    /></a>
    <a href="{%url 'submit_answer' %}"
      ><img class="submit" id="trans" src="/static/images/submit.png"
    /></a>
  </div>
</div>
{% endblock body %}
