<!DOCTYPE html>
{% extends "base.html" %} {%load static%} {% block css %} {% static
'/css/quiz.css' %} {% endblock css %} {% block body %}
<div class="container">
  <img class="scales" src="/static/images/scale.png" />
  <div class="question">{%if quiz%}{{quiz.question}}</div>
  <form method="POST" action="{% url 'submit_answer' %}">
    {% csrf_token %}
    <input type="hidden" name="status" id="status" value="false" />
    <div class="options">
      <div class="grid-item">
        <input
          type="radio"
          id="option_1"
          name="option"
          value="{{ quiz.option_1 }}"
        />
        <label for="option_1">{{ quiz.option_1 }}</label><br />
      </div>

      <div class="grid-item">
        <input
          type="radio"
          id="option_2"
          name="option"
          value="{{ quiz.option_2 }}"
        />
        <label for="option_2">{{ quiz.option_2 }}</label><br />
      </div>

      <div class="grid-item">
        <input
          type="radio"
          id="option_3"
          name="option"
          value="{{ quiz.option_3 }}"
        />
        <label for="option_3">{{ quiz.option_3 }}</label><br />
      </div>

      <div class="grid-item">
        <input
          type="radio"
          id="option_4"
          name="option"
          value="{{ quiz.option_4 }}"
        />
        <label for="option_4">{{ quiz.option_4 }}</label><br />
      </div>
    </div>
    <div class="forbtn">
      <button type="submit" class="btn" onclick="setStatusTrue()">
        <img class="submit" src="/static/images/submit.png" />
      </button>
    </div>
  </form>
  {%endif%}
</div>

<script>
  function setStatusTrue() {
    document.getElementById("status").value = "true";
  }
</script>
{% endblock body%}
